@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kantumruy:wght@300;400;700&family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #ed5724;
    --font-family-primary: Preahvihear, sans-serif;
    --font-family-secondary: Kantumruy, sans-serif;
    --shadow-color: #ed562450;
    --bg: #ed562425;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;
    padding: 0 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #ed5724;
}

.container .main {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}


/* Container Input */

.container-input {
    width: 100%;
    font-size: 24px;
}

.contact-image {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}

.contact-image h1 {
    color: #eb6234;
    margin: 50px 0;
    font-weight: 400;
}

.container-input h4 {
    font-size: 26px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    margin-top: 40px;
}

input {
    outline: none;
}

input:focus,
textarea:focus {
    outline: #eb6234 1px solid;
}


/* Mape */

.container-map {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    padding: 40px;
}

.google-map {
    width: 100%;
    height: 100%;
}

.overlay1 h4 {
    font-size: 26px;
}

.overlay1 .para {
    font-weight: 200;
    color: #1b0f0b;
}

form label {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.container-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.container-name .fname,
.container-name .lname {
    width: 100%;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #ed5724;
    color: white;
    width: 100%;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #eb6234;
}

table {
    margin-left: 20px;
    margin-top: 10px;
}

table tr {
    width: 200px;
    height: 55px;
    padding-left: 20px;
}

table tr .icon {
    width: 50px;
}

table tr .icon i {
    width: 36px;
    height: 36px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    background-color: #eb6234;
    color: #fff;
    border-radius: 50%;
}

table tr td {
    color: #1b0f0b;
}

.container-bottom {
    width: 100%;
    height: 350px;
}

.follow-us h3 {
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.container-social {
    display: flex;
    gap: 0.7rem;
}

.container-social .icon {
    width: 36px;
    height: 36px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ed5724;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.container-social .icon:hover {
    scale: 1.1;
}

@media screen and (min-width: 1500px) {
    .container {
        width: 1385px;
        margin: auto;
    }
    .container h2 {
        margin-bottom: 50px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 800px) {
    .container .main {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }
    .container {
        width: 100%;
        margin: auto;
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px) {
    .container .main {
        grid-template-columns: repeat(1, 1fr);
    }
    .container {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .container {
        margin-top: 30px;
        height: 100%;
        width: 100%;
        padding: 0 50px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .container .main {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .container {
        margin-top: 30px;
        height: 100%;
        width: 100%;
        padding: 0 30px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .container-map {
        padding: 20px;
    }
    .container .main {
        grid-template-columns: repeat(1, 1fr);
    }
    .container-input h4 {
        font-size: 20px;
    }
    .container-social {
        display: flex;
        gap: 0.4rem;
    }
    table {
        margin-left: 0;
    }
    .follow-us h3 {
        font-size: 20px;
    }
    .overlay1 h4 {
        font-size: 20px;
    }
    .overlay1 .para {
        font-size: 14px;
    }
}