.schoo-intro-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.school-image {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.school-image img {
    width: auto;
}

.university-container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.university-container h1 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #ed5724;
}

.university-container>p {
    margin-bottom: 50px;
}

.university {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    place-items: center;
}

@media screen and (min-width: 1500px) {
    .university {
        width: 1385px;
        margin: auto;
    }
}

@media (max-width: 1300px) {
    .university {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 1100px) {
    .university {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .university {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        place-items: center;
    }
}


/* University End */


/* card start */

.card {
    width: 100%;
    height: 310px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
    transform: translate(-100px, -50px);
    opacity: 0;
}

.card-scroll-active {
    transform: translate(0, 0);
    transition: 1s;
    opacity: 1;
}

.card a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.image-container {
    width: 100%;
    height: 65%;
    overflow: hidden;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}

.card:hover {
    box-shadow: 0 0 10px #ed56248f;
    scale: 1.03;
}

.text-container {
    background-color: #ffff;
    margin-top: -24px;
    padding: 16px;
    width: 100%;
    height: 43%;
    text-align: center;
    position: relative;
    border-radius: 15px 15px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 3px solid #f68863bf;
}

.text-container .icon {
    display: flex;
    align-self: flex-end;
}

.text-container .icon-container {
    margin-top: 29px;
    margin-left: 20px;
}

.text-container button {
    padding: 10px;
    margin-top: 10px;
    background: none;
    border: none;
    background-color: #ed5724;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    cursor: pointer;
    isolation: isolate;
    z-index: 10;
}

.text-container p {
    text-transform: uppercase;
    font-weight: 600;
}

.text-container button:hover {
    scale: 1.05;
}

.text-container button:active {
    scale: 0.95;
}

.see-all {
    margin-top: 50px;
}

@media (max-width: 750px) {
    .card {
        width: 500px;
        height: 400px;
    }
}

@media (max-width: 700px) {
    .card {
        width: 400px;
        height: 350px;
    }
    .university-container {
        padding: 0;
    }
}

@media (max-width: 400px) {
    .university-container h1 {
        font-size: 18px;
    }
    .card {
        width: 100%;
    }
    .university-container {
        padding: 0 30px;
    }
}